<header style="margin-top: 0;">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3C0000; padding-top: 0;padding-bottom: 0;">
    <div class = "row" style="height:35px; padding-bottom: 0;">
      <div class="col-sm-auto" style="margin-bottom: 0;">
        <%= button_to "Back to Questions", questions_path, :class => "new-navbar-box", :method => :get %>
      </div>
    </div>
  <nav>
</header>

<div style="margin-top: 10px; padding-left: 30px; padding-right: 30px;">
  <h2>Clear All Questions</h2>

  <hr style="height: 3px; border: 0px solid #696969; border-top-width: 1px;" >

  <div class="container show-box">
    <%= form_with url: destroy_all_questions_url do |f| %>

      <h2 style="text-align: center;">Are you sure you want to permanently delete all questions?</h2>

      <p>Prompt: <%= @question.prompt %> </p>
      <% if @question.multi %>
        <h2>Answers</h2>

        <ol style="list-style-type: Lower-alpha;">
          <% for answer in @question.answer %>
      		  <li style="margin-bottom: 10px;"><%= answer.choice %></li>
    	     <% end %>
        </ol>
      <% end %>

      <p><strong>Notice:</strong> Deleting all questions will also delete all answers and responses related to them.</p>
      <br>

      <div class="form-buttons">
        <%= f.submit("Clear All Questions") %>
      </div>

    <% end %>
  </div>
</div>
