<header style="margin-top: 0;">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3C0000; padding-top: 0;padding-bottom: 0;">
    <div class = "row" style="height:35px; padding-bottom: 0;">
      <div class="col-sm-auto" style="margin-bottom: 0;">
        <%= button_to "Back to Questions", questions_path, :class => "new-navbar-box", :method => :get %>
      </div>
    </div>
  <nav>
</header>

<div style="margin-top: 10px; padding-left: 30px; padding-right: 30px;">
  <h2>Delete Question</h2>

  <hr style="height: 3px; border: 0px solid #696969; border-top-width: 1px;" >

  <div class="container show-box">
    <%= form_for(@question, :method => 'delete') do |f| %>

      <h2 style="text-align: center;">Are you sure you want to permanently delete this question?</h2>

      <hr style="height: 2px; width:90%; margin: auto; border: 0px solid #696969; border-top-width: 1px;" >

      <br>

      <p>Prompt: <%= @question.Prompt %></p>
      <% if @question.multi %>
        Answers:

        <ol style="list-style-type: Lower-alpha;">
          <% for answer in @question.answer %>
      		  <li style="margin-bottom: 10px;"><%= answer.choice %></li>
    	     <% end %>
        </ol>
      <% end %>

      <p><strong>Notice:</strong> Deleting this item will also delete related answers and responses.</p>
      <div class="row" style="margin-top: 20px;">
        <div class="col-auto">
          <%= button_to 'Delete Question', @question, :class => "delete-button", :method => :get %>
        </div>
      </div>
      <br>

    <% end %>
  </div>
</div>
