<p id="notice"><%= notice %></p>

<p>
  <strong>Multi:</strong>
  <%= @question.multi %>
</p>

<p>
  <strong>Prompt:</strong>
  <%= @question.prompt %>
</p>
<% if @question.multi %>
	<h2>Answers</h2>
	<% for answer in @question.answer %>
		<ul>
		  <td><%= answer.choice %></td>
	  </ul>
	<% end %>
	<%= link_to 'Add Answer', question_answers_path(@question) %>
	<%= link_to 'View Answers', question_answers_path(@question) %>
<% end %>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Delete', delete_question_path(@question) %> |
<%= link_to 'Back to Questions', questions_path %>
