<%= form_with model: nominator, url: user_create_nominators_path, method: :post, local: true do |form| %>
  <% if nominator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nominator.errors.count, "error") %> prohibited this nominator from being saved:</h2>

      <ul>
        <% nominator.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :university_id %>
    <%= form.select :university_id, University.order(:university_name).map { |university| [university.university_name, university.id] }, include_blank: true, id: "id_of_the_university_id_select_box" %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :nominator_email, "Email" %>
    <%= form.email_field :nominator_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
