<header style="margin-top: 0;">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3C0000; padding-top: 0;padding-bottom: 0;">
    <div class = "row" style="height:35px; padding-bottom: 0;">
      <div class="col-sm-auto" style="margin-bottom: 0;">
        <%= button_to "Back to Nominators", nominators_path, :class => "new-navbar-box", :method => :get %>
      </div>
    </div>
  <nav>
</header>

<% content_for :title, "Clear Nominators"%>

<div style="margin-top: 10px; padding-left: 30px; padding-right: 30px;">
  <h2>Clear All Nominators</h2>

  <hr style="height: 3px; border: 0px solid #696969; border-top-width: 1px;" >

  <div class="container show-box">
    <%= form_with url: destroy_all_nominators_url do |f| %>

      <h2 style="text-align: center;">Are you sure you want to permanently delete all nominators?</h2>

      <table class="table center">
        <thead class="thread-dark">
          <tr>
          <th>Name</th>
          <th>University</th>
          <th colspan="3"></th>
          </tr>
        </thead>

      <tbody>
          <% @nominators.each do |nominator| %>
          <tr>
              <td><%= nominator.first_name %> <%= nominator.last_name %></td>
              <td><%= University.find(nominator.university_id).university_name %></td>
          </tr>
          <% end %>
      </tbody>
      </table>

      <p><strong>Notice:</strong> Deleting all nominators will also delete all students related to them.</p>

      <br>

      <div class="form-buttons">
        <%= f.submit("Clear All Nominators") %>
      </div>

    <% end %>
  </div>
</div>
