<%= form_with model: student, url: user_update_student_path(@student), method: :patch, local: true do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :university_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :representative_id %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :degree_level %>
    <%= form.text_field :degree_level %>
  </div>

  <div class="field">
    <%= form.label :major %>
    <%= form.text_field :major %>
  </div>

  <div class="field">
    <%= form.label :exchange_term %>
    <%= form.select :exchange_term, [nil,"Fall Only", "Spring Only", "Fall and Spring"] %>
  </div>

  <div class="field">
    <%= form.label :student_email %>
    <%= form.email_field :student_email %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
