<p id="notice"><%= notice %></p>

<h1>Admin Home Page</h1>

<br>

<%= link_to 'Universities', universities_path %>
<br>
<%= link_to 'Nominators', representatives_path %>
<br>
<%= link_to 'Students', students_path %>
<br>
<%= link_to 'Questions', questions_path %>
<br>
<br>

<%= link_to 'Return to Home Page', user_new_representative_path %>
