<p id="notice"><%= notice %></p>

<h1>Admin Home Page</h1>

<br>
<br>

<p>
Max Number of Nominees: 
<%= @max_lim %>
</p>

<form action="/admin" method="put">
  <input type="text">
  <!-- other inputs here -->
  <input type="submit" value="Update Max Value">
</form>

<br>
<br>


<%= link_to 'Universities', universities_path %>
<br>
<%= link_to 'Representatives', representatives_path %>
<br>
<%= link_to 'Students', students_path %>

<br>
<br>

<%= link_to 'Return to Home Page', user_new_representative_path %>
