<header style="margin-top: 0;">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3C0000; padding-top: 0;padding-bottom: 0;">
    <div class = "row" style="height:35px; padding-bottom: 0;">
      <div class="col-sm-auto" style="margin-bottom: 0;">
        <%= button_to "Back to Students", students_path, :class => "new-navbar-box", :method => :get %>
      </div>
    </div>
  <nav>
</header>

<div style="margin-top: 10px; padding-left: 30px; padding-right: 30px;">
  <h2>Clear All Students</h2>

  <hr style="height: 3px; border: 0px solid #696969; border-top-width: 1px;" >

  <div class="container show-box">

    <%= form_with url: destroy_all_students_url do |f| %>

      <h2 style="text-align: center;">Are you sure you want to permanently delete all students?</h2>

      <hr style="height: 2px; width:90%; margin: auto; border: 0px solid #696969; border-top-width: 1px;" >

      <br>

      <p> Students: <br>
      <% @students.each do |student| %>
        <%= @student.first_name %> <%= @student.last_name %> <br>
      <% end %>
      </p>

      <p><strong>Notice:</strong> Deleting all students will also delete all responses related to them.</p>
      <%= link_to 'Back to students', students_path %>
      <br><br>

      <div class="form-buttons">
        <%= f.submit("Clear All Students") %>
      </div>

    <% end %>
  </div>
</div>
