<p id="notice"><%= notice %></p>

<% content_for :title, "Student Database" %>

<h1>Students</h1>
<br>

<%= link_to 'Universities', universities_path %> | 
<%= link_to 'Nominators', representatives_path %> | 
<%= link_to 'Students', students_path %> | 
<%= link_to 'Questions', questions_path %>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>University</th>
      <th>Nominator</th>
      <th>Degree level</th>
      <th>Major/Area of Study</th>
      <th>Term of exchange</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= University.find(student.university_id).university_name %></td>
        <td><%= [Representative.find(student.representative_id).first_name, Representative.find(student.representative_id).last_name].join(' ') %></td>
        <td><%= student.degree_level %></td>
        <td><%= student.major %></td>
        <td><%= student.exchange_term %></td>
        <td><%= student.student_email %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Delete', student, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Add New Student', new_student_path %>
<br>
<%= link_to 'Back', admin_path %>

