<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>University:</strong>
  <%= University.where(id: @student.university_id).last.university_name %>
</p>

<p>
  <strong>Degree level</strong>
  <%= @student.degree_level %>
</p>

<p>
  <strong>Major/Area of Study</strong>
  <%= @student.major %>
</p>

<p>
  <strong>Term of exchange</strong>
  <%= @student.exchange_term %>
</p>

<p>
  <strong>Email</strong>
  <%= @student.student_email %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Enter another new student', new_student_path %> | 
<%= link_to 'Finish', University.find(@student.university_id) %>