<header style="margin-top: 0;">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3C0000; padding-top: 0;padding-bottom: 0;">
    <div class = "row" style="height:35px; padding-bottom: 0;">
      <div class="col-sm-auto" style="margin-bottom: 0;">
        <%= button_to "Back to Finish", finish_representative_path(@student.representative_id), :class => "new-navbar-box", :method => :get %>
      </div>
    </div>
  <nav>
</header>

<div style="margin-top: 10px; padding-left: 30px; padding-right: 30px;">
  <div style="text-align: right"><%= link_to 'Help', user_help_path %></div>
  <h2>Delete Student</h2>

  <hr style="height: 3px; border: 0px solid #696969; border-top-width: 1px;" >

  <%= form_for(@student, :method => 'user_delete', url: user_destroy_student_path(@student)) do |f| %>

    <h2 style="text-align: center;">Are you sure you want to permanently delete this student?</h2>

    <hr style="height: 2px; width:90%; margin: auto; border: 0px solid #696969; border-top-width: 1px;" >

    <p>
      Name: <%= @student.first_name %> <%= @student.last_name %> <br>
      University: <%= @university.university_name %>
    </p>

    <p><strong>Notice:</strong> Deleting this item will also delete related responses.</p>
    <%= link_to 'Show', user_show_student_path(@student) %>
    <br><br>

    <div class="form-buttons">
      <%= f.submit("Delete Student") %>
    </div>

  <% end %>
</div>
