<header style="margin-top: 0;">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3C0000; padding-top: 0;padding-bottom: 0;">
    <div class = "row" style="height:35px; padding-bottom: 0;">
      <div class="col-sm-auto" style="margin-bottom: 0;">
        <%= button_to "Help", user_help_path, :class => "new-navbar-box", :method => :get %>
      </div>
    </div>
  <nav>
</header>

<p id="notice"><%= notice %></p>

<% content_for :title, "Nominator - " + @representative.first_name + " " + @representative.last_name%>

<div style="margin-top: 10px; padding-left: 30px; padding-right: 30px;">
  <div class="container show-box">
    <p>
      <strong>First name:</strong>
      <%= @representative.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @representative.last_name %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @representative.title %>
    </p>

    <p>
      <strong>Nominator email:</strong>
      <%= @representative.rep_email %>
    </p>

    <p>
      <strong>University:</strong>
      <%= University.find(@representative.university_id).university_name %>
    </p>

    <div class="row" style="margin-top: 20px;">
      <div class="col-auto">
        <%= button_to 'Edit', user_edit_representative_path(@representative), :class => "edit-button", :method => :get %>
      </div>
      <div class="col-auto">
        <%= button_to 'Continue', finish_representative_path(@representative), :class => "show-button", :method => :get %>
      </div>
    </div>
  </div>
</div>
