<%= form_with(model: [@question, answer], local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
        <% answer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :choice %>
    <%= form.text_field :choice %>
  </div>
  <%= form.hidden_field :question_id, value: @question.id %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
