<div>
  <h2>Delete Answer</h2>

  <%= form_for(@answer, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this university?</p>

    <p>
    Question: <%= @answer.question %> <br>
    Choice: <%= @answer.choice %>
    </p>
    
    <%= link_to 'Back to Answers', answers_path %>
    <br><br>

    <div class="form-buttons">
      <%= f.submit("Delete Answer") %>
    </div>

  <% end %>
</div>