<div>
  <h2>Clear All Responses</h2>

  <%= form_with url: destroy_all_responses_url do |f| %>

    <p>Are you sure you want to permanently delete all responses?</p>

    <table>
    <thead>
      <tr>
        <th>Question</th>
        <th>Student</th>
        <th>Reply</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @responses.each do |response| %>
        <tr>
          <td><%= Question.all.find(response.question_id).prompt %></td>
          <td><%= response.student.student_email %></td>
          <td><%= response.reply %></td>
        </tr>
      <% end %>
    </tbody>
    </table>

    <%= link_to 'Back to responses', responses_path %>
    <br><br>

    <div class="form-buttons">
      <%= f.submit("Clear All Responses") %>
    </div>

  <% end %>
</div>