<p id="notice"><%= notice %></p>

<h1>Responses</h1>

<table>
  <thead>
    <tr>
      <th>Reply</th>
      <th>Question</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= response.reply %></td>
		<td><%= Question.all.find(response.question_id).prompt %></td>
        <td><%= response.student.student_email %></td>
        <td><%= link_to 'Show Student', [@student] %></td>
        <td><%= link_to 'Edit Response', edit_student_response_path(@student, response) %></td>
        <td><%= link_to 'Destroy Response', [@student, response], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Response', new_student_response_path(@student) %>
