<p id="notice"><%= notice %></p>
<div style="text-align: right"><%= link_to 'Help', admin_help_path %></div>

<h1>Responses</h1>
<br>

<%= link_to 'Universities', universities_path %> | 
<%= link_to 'Nominators', representatives_path %> | 
<%= link_to 'Students', students_path %> | 
<%= link_to 'Questions', questions_path %>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Student</th>
      <th>Reply</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
		    <td><%= Question.all.find(response.question_id).prompt %></td>
        <td><%= response.student.student_email %></td>
        <td><%= response.reply %></td>
        <td><%= link_to 'Show Student', [@student] %></td>
        <td><%= link_to 'Edit Response', edit_student_response_path(@student, response) %></td>
        <td><%= link_to 'Delete Response', delete_student_response_path(@student, response) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Response', new_student_response_path(@student) %>
<br>
<%= link_to 'Back to Admin', admin_path %>
