<p id="notice"><%= notice %></p>

<p>
  <strong>Reply:</strong>
  <%= @response.reply %>
</p>

<p>
  <strong>Question:</strong>
  <%= @response.question %>
</p>

<p>
  <strong>Student:</strong>
  <%= @response.student %>
</p>

<%= link_to 'Edit', edit_student_response_path(@student, @response) %> |
<%= link_to 'Delete', delete_student_response_path(@student, @response) %> |
<%= link_to 'Back to Responses', responses_path %>
