<p id="notice"><%= notice %></p>

<p>
  <strong>Questionid:</strong>
  <%= @answer_choice.questionID %>
</p>

<p>
  <strong>Anser choice:</strong>
  <%= @answer_choice.anser_choice %>
</p>

<%= link_to 'Edit', edit_answer_choice_path(@answer_choice) %> |
<%= link_to 'Back', answer_choices_path %>
