<p id="notice"><%= notice %></p>

<h1>Student Responses</h1>

<table>
  <thead>
    <tr>
      <th>Questionid</th>
      <th>Studentid</th>
      <th>Response</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_responses.each do |student_response| %>
      <tr>
        <td><%= student_response.questionID %></td>
        <td><%= student_response.studentID %></td>
        <td><%= student_response.response %></td>
        <td><%= link_to 'Show', student_response %></td>
        <td><%= link_to 'Edit', edit_student_response_path(student_response) %></td>
        <td><%= link_to 'Destroy', student_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Response', new_student_response_path %>
