<p id="notice"><%= notice %></p>

<p>
  <strong>Questionid:</strong>
  <%= @student_response.questionID %>
</p>

<p>
  <strong>Studentid:</strong>
  <%= @student_response.studentID %>
</p>

<p>
  <strong>Response:</strong>
  <%= @student_response.response %>
</p>

<%= link_to 'Edit', edit_student_response_path(@student_response) %> |
<%= link_to 'Back', student_responses_path %>
